<div class="wrapper">
    <div class="header-home">
      <app-navbar></app-navbar>
    </div>
    <div class="body-maestros">
      <div class="row mt-5 mb-5">
        <div class="col-12">
          <span class="title-perfil">Bienvenido {{name_user}}</span>
          <br><br>
          <span class="title-perfil">{{rol}}</span>
        </div>
      </div>
      <div class="container">
        <div class="row mt-3 mb-5" style="text-align: center;">
          <div class="col-12">
            <div class="alert alert-primary" role="alert">
              <span class="title-table">Lista de materias registradas</span>
            </div>
          </div>
        </div>
        <!-- Tabla de angular material -->
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
              <!-- 1era fila -->
              <ng-container matColumnDef="nrc">
                  <th mat-header-cell *matHeaderCellDef> NRC </th>
                  <td mat-cell *matCellDef="let element"> {{element.nrc}} </td>
              </ng-container>
  
              <!-- 2da fila -->
              <ng-container matColumnDef="nombre_de_la_materia">
                  <th mat-header-cell *matHeaderCellDef>Nombre</th>
                  <td mat-cell *matCellDef="let element"> {{ element.nombre_de_la_materia }} </td>
              </ng-container>

                
              <ng-container matColumnDef="seccion">
                <th mat-header-cell *matHeaderCellDef>Sección</th>
                <td mat-cell *matCellDef="let element"> {{ element.seccion }} </td>
            </ng-container>
  
              <!-- 3era fila -->
              <ng-container matColumnDef="dias_json">
                  <th mat-header-cell *matHeaderCellDef>Días</th>
                  <td mat-cell *matCellDef="let element"> {{element.dias_json}} </td>
              </ng-container>
  
              <!-- Symbol Column -->
              <ng-container matColumnDef="horario_inicio">
                  <th mat-header-cell *matHeaderCellDef>Hora Inicio</th>
                  <td mat-cell *matCellDef="let element"> {{ element.horario_inicio }} </td>
              </ng-container>
  
              <ng-container matColumnDef="horario_finalizacion">
                  <th mat-header-cell *matHeaderCellDef>Hora Termino</th>
                  <td mat-cell *matCellDef="let element"> {{ element.horario_finalizacion }} </td>
              </ng-container>
  
              <ng-container matColumnDef="salon">
                  <th mat-header-cell *matHeaderCellDef>Salón</th>
                  <td mat-cell *matCellDef="let element"> {{ element.salon }} </td>
              </ng-container>
  
              <ng-container matColumnDef="programa_educativo">
                  <th mat-header-cell *matHeaderCellDef>Programa Ed.</th>
                  <td mat-cell *matCellDef="let element"> {{ element.programa_educativo }} </td>
              </ng-container>
  
              <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                  <td mat-cell *matCellDef="let element" class="td-editar">
                      <i class="bi bi-pencil-square" (click)="goEditar(element.id)"></i>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef > Eliminar </th>
                  <td mat-cell *matCellDef="let element" class="td-eliminar">
                      <i class="bi bi-trash3-fill" (click)="delete(element.id)"></i>
                  </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  